@use "../../../../assets//scss/mixins.scss" as m;
@use "../../../../assets//scss/variables" as v;

.slider{
     background-image: url("../../../../assets/img/slider/slider-bg.jpg");
     background-repeat:no-repeat;  // arka plan tekrar etmicek
     background-size: cover;        //arka plan tamolarak oturmasi icin
     background-position: center center;
     min-height: 500px;
     @include m.flexbox(row, flex-start, stretch,0rem);   //resim alta dogru genisledi
     position: relative; // kendini kime göre ayarliyagini bilcek



    &::before{
        content: "";
        background-image: linear-gradient(to right, v.$color4, v.$color5); //karisik renk elde etmek icin
        position: absolute;
        top:0; left:0; right:0; bottom:0;
    }


    .carousel{
     width: 100%;

          .carousel-inner{
               height: 100%;

               .carousel-item{
                    height: 100%;
                  
                  

                    img{
                         position: absolute;   //araci en saga alta aldik
                         right: 0;
                         bottom: 0;


                         @media (max-width:767px) { //ekran 767 den sonra display none olcak
                              display: none;
                          }
                      }

                    .carousel-caption{
                         top: 50%;
                         transform: translateY(-50);
                         text-align: right;
                         width: 30%;

                         @media (max-width:1300px) { 
                              width: 80%;
                              text-align: center;
                              left:50%;
                              transform: translateX(-50) translateY(-50);
                              height: 100%;
                              @include m.flexbox(column,center)
                              

                           
                              }
     
                         h2{
                              @media (max-width:1300px) { 
                                   font-size: 2rem;
                              }

                              color: v.$color1;
                              font-size: 2rem;
                              font-weight: 900;
                              text-shadow: 0 0 15px white;  //maatlastiriyor
                              width: 80%;
                         }
                         p{
                              font-size: 1.2 rem;
                              color: v.$color2 ;
                         }
                    }
               }
              
              
          }

    }
}

