@use "../../../../assets//scss/variables" as v;

.user-menu{
     .dropdown-menu{
          padding: 1.5rem 0  ;
     }

     button , a[role="button"]{ // rolu buton a lar.
          @media (max-width:991px){  //ekran 991den daha buyuk olursa asagidakiler olmayacak
               
               background: none !important;
               border : none;
               padding: 1rem 0;
               font-weight: 500;
               color: v.$color2;
               display: block;
              text-align: left;
          }
     }



     .dropdown-menu{
          @media  (max-width:991px){  // ekran mak 991 olana kadar buradakileri calistir
              position: static;
              border: none;
              margin: 0;
              padding: 0;
                }
     }

     .dropdown-divider{
          @media  (max-width:991px){  // ekran mak 991 olana kadar cizgi hic gözukmesin
              display: none;
          }
     }

     
     
}